@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url('../public/bg.jpg');
    background-size: auto;
    object-fit: cover;
}

.container{
    text-align: center;
}
.title{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}

.authorname{
    text-align: center;
}


.sicons{
    text-align: center;
    color: rgb(211, 5, 5);
    font-size: 19px;
    margin: 0px 5px;
}

.datesection{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.continue-reading{
    margin: 40px;
}

.continue-button{
    background-color:#E31C79;
    border-radius: 30px;
    padding: 17px 21px;
    color: whitesmoke;
}
.recentsection{
  justify-content: center;
  align-items: center;
}

.category{
    display: block;
}

.postAuthoriamge{
    margin: 0 auto 10px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.AuthorImage{
    width:30px;
    height: 30px;
    border-radius: 50%;
    margin-bottom: 10px;
}


.postContent{
    background-color: red;
    
}


.postwriting {
    display: flex;
    justify-content: center;
    background-color: red;
  
}

.dateforamt{
    display: flex;
   

}

.featued-image {
    object-fit: cover;
}

.author-photo{
    height: 80px;
    width: 80px;
    margin: 0px auto 0px;
}


.postCommentButton{
    background: #E31C79;
    padding: 10px 23px;
    border-radius: 20px;
}


.checkbox{
    float: left;
    width: 20px;
    height: 20px;
}


.post-button{
    background-color:#D9027D;
    padding: 12px 18px;
}